span[id^="x"]{
width: 300px;
}

input.button{
width: 100px;
}

div[id^="dynamicInput_"]{
padding-top: 10px;
padding-bottom: 10px;
background-color: #F5F5DC;
width: 95%;
cursor: move;
min-height: 60 px;
height: 60 px;
border-radius:6px;
-webkit-border-radius:6px;
-moz-border-radius:5px;
-khtml-border-radius:10px;
margin-top: 10px;
margin-left: 4px;
}

#mainForm input.error {
    background: none repeat scroll 0 0 #F8DBDB;
    border-color: #E77776;
}

p { color:blue; margin:8px; }

#left {
    float: left;
    width: 20%;
    border-style:;
border-width: 1px;
border-color: #000000;
border-radius:6px;
-webkit-border-radius:6px;
-moz-border-radius:5px;
-khtml-border-radius:10px;
}

  #center {
    float: left;
    width: 20%;
  }

  #right {
    float: right;
    width: 58%;
  }

